[Unit]
Description=Starts and stops a single metricbeat instance on this system
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/tmp
EnvironmentFile=-/etc/local_ip.env
ExecStart={{ base_dir }}/metricbeat/metricbeat  -c {{base_dir}}/metricbeat/metricbeat.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=process
RestartSec=32s
MemoryLimit=500M
StandardOutput=null

[Install]
WantedBy=multi-user.target